.whiteNews {
    display: flex;
    flex-direction: column;
    background-color: #DEDEDE;
    padding: 15px;
    border-radius: 10px;
}

.newsItem {
    display: flex;
    flex-direction: column;
}

.newsItem img{
    display: flex;
    width: 100% ;
}


.newsItem span {
    display: flex;
}