.leaveCommentForm{
    display: flex;
    margin: 20px 0;
}

.leaveCommentForm textarea{
    outline: none;
    border: none;
    background-color: #EFF6F6;
    border-radius: 20px 0 0px 20px;
    padding: 10px;
    display: flex;
    width: 100%;
    height: 50px;
}

.commentsBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    word-break: break-word;
}

.comment{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 9px 15px ;
    font-size: 12px;justify-content: space-between;
    border-radius: 10px;
    margin: 10px 0;

}

.commentDate{
    display: flex;
    color: #CBCBCB;
    font-size: 12px;
    margin-left: 15px;
}

.sendButton{
    background: #82D2DD;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
    padding: 10px;
    outline: none;
    border:none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.sendButton:hover{
    background: #FFFFFF;
    color: #359eec;
}