.leaveCommentForm{
    display: flex;
    margin: 20px 0;
}

.leaveCommentForm textarea{
    display: flex;
    width: 100%;
}

.commentsBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: 9px 15px ;
    font-size: 12px;justify-content: space-between;
    border-radius: 10px;

}

.commentDate{
    display: flex;
    color: #CBCBCB;
    font-size: 12px;
    margin-left: 15px;
}