

.publisher{
    font-size: 18px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #CBCBCB;
}

.postTitle{
    font-size: 24px;
    font-weight: 700;
}

.postThumb {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 13px;

}

.postThumb img{
    display: flex;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;

}

.postThumb .shortDescription{
    position: absolute;
    display: flex;
    overflow: fragments;
    width: inherit;
    width: -webkit-fill-available;
    bottom: 0;
    padding: 18px;
    background-color: rgba(242, 242, 242, 0.9);
    border-radius: 0 0 10px 10px;

}


.fullPostText {
    font-size: 14px;
    margin-bottom: 20px;
}

