.blackNews {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;
    width: fit-content;
}

.newsItem {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.newsItem img{
    display: flex;
    width: 100% ;
}

.newsItem span {
    display: flex;
    display: flex;
    margin: 10px 0 30px 0;
}