.blackNews {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    color: #FFFFFF;
    margin-left: 20px;
    width: fit-content;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.newsItem {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.3);
    margin: 10px;


}

.newsItem img{
    display: flex;
    width: 100% ;
}

.newsItem span {
    display: flex;
    display: flex;
    margin: 10px 0 30px 0;
}