.logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-weight: 800;
}

.logo h1{
    margin: 0;
    font-size: 48px;
}

.logo span{
    font-size: 24px;
    font-weight: 800;

}

.mainContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 115px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    width: 35%;
}



.blackWhiteLists{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.language{

}