.actionBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 33px;
}

.publicationDate{
    width: 93px;
    color: #CBCBCB;
    font-size: 14px;
    flex-grow: 0.6;
}

.likeBtn button, .dislikeBtn button, .nextPostBtn button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    height: 30px;
    background: #82D2DD;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.likeBtn button:hover, .dislikeBtn button:hover, .nextPostBtn button:hover{

    background: #FFFFFF;

}

button span {
    margin-left: 5px;
}

@media (max-width: 500px) {
    .actionBlock {
        display: flex;align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }

    .publicationDate{
        width:100%;
        text-align: center;
        color: #CBCBCB;
        margin-bottom: 5px;
        font-size: 14px;
        flex-grow: 0.6;
    }


    .likeBtn button, .dislikeBtn button, .nextPostBtn button{
        margin: 5px;
    }
}